body{
background-color:  #c081e2;
}
/* the first div at the left side */
.container {
    display: flex;          /* make children appear side by side */
    gap: 20px;              /* optional space between divs */
    align-items: flex-start; /* align divs to the top */
}
.me{
    width: 500px;
    height: 900px;
    background-color: #998ba0;
    position: relative;
    border-radius: 30px;
    display: flex;
 position: relative;
 left: 20px;
 top: 40px;
    
}
.picdiv{
    width: 350px;
    height: 400px;
    background-color: aliceblue;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 60px;
    border-radius: 20px;

}
/* bigger div at the rigt side */
.biggerdiv{
    width: 1000px;
    height: 900px;
    background-color: #998ba0;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 10px;
    
    
 
}
