body{
    background-color: white;
}
/*styling for the header begins from here*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.header{
    background-color:#be952d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 70px;
    width: 100%;
    position: relative;
      margin-top: 20px;
      
}


/*styling logo begin from here*/

.logo {
height: 150px;
width: auto;
cursor: pointer;
}

   

/*styling for navigation links*/
.navlinks ul{
    list-style: none;
    font-size: 15px;
    display: flex;
    gap: 100px;
    align-items: flex-start;
  
     margin-right: 160px;
}

.navlinks ul li a{
    text-decoration: none;
   
      color: white;
    
    
}
.navlinks :hover{
    color:#0F172A ;
}

 
/*styling for the contact me button*/
.contact{
    width: 80px;
    height: 40px;
   position: relative;
   border-radius: 20px;
   margin-left: 20px;
  
   
}
   .contact:hover {
    background-color:  white;

}

/*styling for parent div*/
/* Parent hero section */
.parent {
    height: 100vh;
    display: flex;
    width: 100%;
    background-color:#0F172A; 
}
 .line{
    display: flex;
    position: relative;
    height :90vh;
    width: 95%;
    background-color: white;
    margin:  auto;
    border-radius: 10px;
    
 }
 .introimage{

 }




/* Text content */
.intro-text {
    max-width: 45%; 
    display: flex;
    flex-direction: column;
    gap: 10px; 
    color: #0F172A;
    margin-left: 220px;
    margin-top: 170px;
  
}

.first {
    font-size: 40px;
}

.bri {
    color: #be952d;
    font-weight: 1000;
    font-size: 70px;
}

.icon img {
    width: 50px;
    margin-left: 100px;
   position: relative;
   top: -48px;
}

/* Paragraphs */
.writings {
    font-size: 20px;
    margin-bottom: 5px;
}

/* Image styling */
.introimage img {
    width: 80%; 
    height: auto;
    border-radius: 15px; 
    margin-top: 10px;
    margin-left: 110px ;
  
}

/* Mobile responsiveness */
@media (max-width: 900px) {
    .intro {
        flex-direction: column;
        text-align: center;
    }

    .introimage img {
        width: 90%;
        margin-top: 20px;
       
    }
}



    /*little section between the first and the second section*/
    .little{
        width: 100%;
        height: 0px;
        
    }
        /*style for the small siv within the middle*/
        
    .lit{
        background: white;
            height: 90px;
        width:calc(200%);
        display: flex;
        gap:160px;
        animation: scroll 15s linear infinite;
        margin-top: 60px;
    }
    .lit img{
        width: 80px;
        height: auto;
        display: inline-block;
    
    }
    /*animation for moving icons*/

  .slider{
    width: 100%;
    overflow: hidden;

  }
/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
 /*animation for rixe and fall of icons*/
 
 .icon:hover{
    animation: float 0.8s ease-in-out infinite;
}
@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}


    /*styling of second section*/
    .section2{
        background-color: #0F172A;
        color: #0F172A;
        width: 100%;
        height: 100vh;
        gap:20px;
       

 
   
    }
   
    /*text in the second section*/
.service{
text-align: center;



}



            .section2 h1{
                color:#e0af32;
                font-size: 50px;
            }



   .firsti {
    flex: 1;
    text-align: center;
    height: 250px;
    width: 25%;     /* ← instead of 45% */
    background: white;
    border-radius: 10px;
    margin-top: 40px;
  
}
        .divicon img{
            margin-bottom: 15px;
                width: 120px;
        height: auto;
       
        }
        .divtext{
            margin-bottom: 8px;
        }
        
           
            /*styling for the side div*/
           
        
            
            .quote{
                background-color: #FBBF24;
          
}
          
                    .box,
                        .next {
                            display: flex;
                            justify-content: center;
                            gap: 20px;
                            width: 100%;
                            margin-top: 40px;
                        }

                        /*third section*/
                        .thirdsection{
                            width: 100%;
        
                            height: 100vh;
                            
                            background-color: white ;
                        }
                        /*styling for divs within section three*/
                       
                        .boss{
                             display: flex;
                            width: 100%;
                          height: 40vh;
                          background-color: white;
                          margin-top: 120px;
                        

                        }
                      

                        /*style for second main image*/

                        .picdiv img{
                        
         width: 180px;
                            
                            border-radius: 50%;
                            object-fit: cover;
                            box-shadow:  0 4px 15px #be952d;
                             width: 65%; 
                            height: auto;
                            margin-top: 90px;
                            margin-left: 220px ;
                            
  
                            
                        }

                        .writingdiv{
                            width: 60%;
                            height: auto;
                           
                            margin-right: 200px;
                         
                        }
                        .write{
                       
                            margin-top: 160px;
                            font-size: 20px;
                            margin-right: 100px;
                             line-height: 1.6;
                        
                        }

                        /*styling for the project section*/
                        .projectsection{
                            width: 100%;
        
                            height: 100vh;
                            
                            background-color: white
                            ;
                        }

                        .divsection{
                            width:1500px ;
                            height: 100vh;
                            background-color: #0F172A;
                            margin: 0 auto;
                            margin-top: 250px;
                            border-radius: 10px;    
                            display: flex;  
                            gap: 15px;
                            transition:0.3 ease ;

                                        
                        }
                       

                        .blog, .koef ,.shuttle {
                            width: 400px;
                            height: 60vh;
                            background-color: white;
                            margin-top: 105px;
                            margin-left: 67px;
                            border-radius: 15px;
                          
                            
                        }
                        .blog, .shuttle{
                            transform: scale(0.9);
                            z-index: 0.3;
                            opacity: 0.9;
                        }
                       .koef{
                        transform: scale(1.0);
                        z-index: 10;
                        opacity: 1;
                          background-image:url("../images/kutr.png") ;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 600px;


                       }
                       .blog{
                         background-image:url("../images/koe.png") ;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 600px;

                       }


                       .shuttle{
                         background-image:url("../images/ChatGPT\ Image\ Feb\ 7\,\ 2026\,\ 12_09_26\ AM.png") ;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 900px;

                       }

                        
                       

                      
