body{
    background-color: #0F172A;
}
/*styling for the header begins from here*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.header{
    background-color:#FBBF24 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 70px;
    width: 100%;
    max-width: 1500px;
    position: relative;
      border-radius: 50px;
      margin-left: 25px;
      margin-top: 20px;
}


/*styling logo begin from here*/

.logo {
height: 150px;
width: auto;
cursor: pointer;
}

   

/*styling for navigation links*/
.navlinks ul{
    list-style: none;
    font-size: 15px;
    display: flex;
    gap: 100px;
    align-items: flex-start;
    
     margin-right: 160px;
}

.navlinks ul li a{
    text-decoration: none;
    color: black;
    
    
}
.navlinks :hover{
    color: white;
}

 
/*styling for the contact me button*/
.contact{
    width: 80px;
    height: 40px;
   position: relative;
   border-radius: 20px;
   margin-left: 20px;
   background-color: #FBBF24;
   color:#0F172A;
}
   .contact:hover {
    background-color: white

}

/*styling for parent div*/
/* Parent hero section */
.parent {
    height: 100vh;
    display: flex;
    width: 100%;
    background-color: #0F172A; 
}





/* Text content */
.intro-text {
    max-width: 45%; 
    display: flex;
    flex-direction: column;
    gap: 10px; 
    color: aliceblue;
    margin-left: 220px;
    margin-top: 40px;
  
}

.first {
    font-size: 40px;
}

.bri {
    color: #be952d;
    font-weight: 1000;
    font-size: 70px;
}

.icon img {
    width: 50px;
    margin-left: 100px;
   position: relative;
   top: -48px;
}

/* Paragraphs */
.writings {
    font-size: 20px;
    margin-bottom: 5px;
}

/* Image styling */
.intro-image img {
    width: 80%; 
    height: auto;
    border-radius: 15px; 
    margin-top: 10px;
    margin-left: 110px ;
  
}

/* Mobile responsiveness */
@media (max-width: 900px) {
    .intro {
        flex-direction: column;
        text-align: center;
    }

    .intro-image img {
        width: 90%;
        margin-top: 20px;
       
    }
}




/*little section between the first and the second section*/
.little{
    background-color: white;
     height: 60px;
    width: 100%;
}





    /*styling of second section*/
    .section2{
        background-color:#FBBF24 ;
          display: flex;
    background-color: #2432fb;
        width: 500px;
        height: 00px;
        gap:20px;

    }
    

/*first service*/
.firsti{
      margin-top: 60px;
 height: 80px;
    width: 50%;
    position: relative;
    background-color: aqua;

}


.second{
    margin-top: 60px;
height: 80px;;
    width: 50%;
    position: relative;
    background-color: #fb24f4;
}


.third{
     margin-top: 60px;
     height: 80px;;
    width: 50%;
    position: relative;
    background-color: #fb2436;

}
